{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}
{% block body %}
    <div class="list-group menu">
        <a class="list-group-item list-group-item-action" href="{{ path ('chess_board') }}">Chess board</a>
        <a class="list-group-item list-group-item-action" href="{{ path ('loan_calculator') }}">Loan Calculator</a>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .menu {
            width: 300px;
            height: 200px;
            top:50%;
            left:50%;
            margin-top:-100px;
            margin-left: -150px;
            position:absolute;
        }
    </style>
{% endblock%}
